{% extends 'base.html' %}
{% block content %}
<body>
<div class="container-fluid h-100 bg-light text-dark">
    <div class="row justify-content-center align-items-center">
        <h4 align="center">Please Enter Your Credential</h4>
    </div>
    <hr/>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form action="/adminLogin" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text">EmailId</span>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <div class="button">
                    <button type="submit">login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}